# I don't have space for your libraries and binaries
.stack-work/
dist/
dist-newstyle/
out/

# vis is a better editor anyway
.idea/
.vscode/

# these belong to the OS, not the project
.DS_Store
*.exe
*.dll
*.lock
.ghc.*